/* Contact Section */

section h2 {
	border-bottom: 2px solid #333;
	letter-spacing: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	text-transform: uppercase;
	text-align: center;
}

.contact-me {
	padding: 20px 0;
	font-size: 1.2em;
}

#contact .contact-me a {
	color: #A3A3A3;
	-webkit-transition: color 200ms ease-out 100ms;
    -moz-transition: color 200ms ease-out 100ms;
    -o-transition: color 200ms ease-out 100ms;
    transition: color 200ms ease-out 100ms;
}

#contact a:hover {
	color: #333;
}

#contact button[type="submit"] {
	background: none;
	border: 2px solid;
	font-size: 1.25em;
	letter-spacing: 1px;
	margin-top: 15px;
	margin-bottom: 2em;
}

#contact button[type="submit"]:hover {
	background: #A3A3A3;
	color: white;
}

.form-control {
	background-color: #EDEDED;
	border-color: #D5D5D5;
}

.form-group #message {
	height: 132px;
}

ul[role="alert"] {
	list-style-type: none;
	padding-left: 2px;
	text-align: left;
	color: rgb(215, 37, 37);
}
