*,
*::before,
*::after {
	box-sizing: border-box;
}

.app {
  height: 100vh;
  position: relative;
}

.container-fluid {
  padding: 10px 0 25px 20px;
  position: relative;
  min-height: 100vh;
}

a,
.logo {
  color: #333;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.active {
  font-weight: 700;
}

@media only screen and (max-width: 991px) {
  #bio,
  #contact {
    margin: 0 20px;
  }

  .sidebar,
  .content {
    padding-right: 0;
    padding-left: 0;
  }
}

.right-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .right-section {
    margin-left: 220px;
  }

  .index-background {
    .right-section {
      margin-left: 20px;
      height: 100vh;
    }
  }
}

.not-home-page {
  padding-bottom: 35px;
}

.wrapper {
  max-width: 1000px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.img-responsive {
  max-width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1024px) {
  .flex-container .item {
    width: 50%;
  }
}
