@import-normalize;

body {
  margin: 0;
	font-family: 'Josefin sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
}

/* home page background color animation */
.index-background {
	animation: change-colors 16s linear alternate infinite;
	background-color: #ffcf3d;
	width: 100vw;
	height: 100%;
}
